<aside class="aside fixed p-7 z-30 top-0 left-0 w-64 h-screen bg-white">
    <h1 class="aside__title text-indigo-500 text-light mt-2">
        Administrador
    </h1>
    <nav>
        <a routerLink="/home" [routerLinkActiveOptions]="{exact: true}" [routerLinkActive]="['!text-white','bg-indigo-500','shadow-indigo-300','hover:translate-x-0','shadow-lg']" class="w-full text-sm mt-8 flex items-center py-3 rounded-lg px-4 hover:translate-x-1 duration-300">
            <i class="ri-home-line mr-3"></i>
            Inicio
        </a>
        <a routerLink="/home/drivers" [routerLinkActive]="['!text-white','bg-indigo-500','shadow-indigo-300','hover:translate-x-0','shadow-lg']" class="w-full text-sm my-2 flex items-center py-3 rounded-lg text-gray-600 px-4 hover:translate-x-1 duration-300">
            <i class="ri-user-2-line mr-3"></i>
            Conductores
        </a>
        <a routerLink="/home/vehicles" [routerLinkActive]="['!text-white','bg-indigo-500','shadow-indigo-300','hover:translate-x-0','shadow-lg']" class="w-full text-sm flex items-center py-3 rounded-lg text-gray-600 px-4 hover:translate-x-1 duration-300">
            <i class="ri-car-washing-line mr-3"></i>
            Vehiculos
        </a>
    </nav>
</aside>