@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.aside{
    box-shadow: 0 0 15px 0 rgb(34 41 47 / 5%);

    .aside__title{
        font-family: 'Poppins', sans-serif;
    }
}