<header class="sticky top-0 z-20 left-0 w-full">
    <div class="w-full h-16 bg-white px-10 flex justify-end items-center" style="box-shadow: 0 0 15px 0 rgb(34 41 47 / 15%);">
        <div class="relative">
            <p (click)="openDropdownUser()" class="flex items-center text-sm cursor-pointer text-gray-700">
                psigmatest@corporation.com
                <i class="ml-2 mt-1 ri-arrow-down-s-fill"></i>
            </p>
            <div *ngIf="isOpenDropdownUser" class="absolute w-full bg-white mt-5 -right-2 p-1 rounded" style="box-shadow: 0 0 15px 0 rgb(34 41 47 / 5%);">
                <a routerLink="/login" class="flex items-center text-gray-700 cursor-pointer py-2 px-3 text-sm hover:bg-blue-50">
                    <i class="ri-shut-down-line mr-3"></i>
                    Cerrar sesión
                </a>
            </div>
        </div>   
    </div>
</header>