<section *ngIf="isOpenModalAdd" class="modal fixed flex justify-center items-center right-0 top-16 z-10 w-[calc(100vw-16rem)] h-[calc(100vh-20px)]">
    <div class="bg-white w-1/2 p-5 px-7 relative h-auto rounded-lg opacity-1">
        <h2 class="mb-8">Agregar nuevo vehiculo</h2>
        <div (click)="closeModal()" class="absolute top-3 right-3 cursor-pointer py-1 px-3 hover:bg-gray-100 rounded">
            <i class="ri-close-line"></i>
        </div>
        <form [formGroup]="formGroup">
            <div class="flex items-center">
                <div class="relative mr-5 w-1/2">
                    <label class="text-sm text-gray-700 tracking-wide">
                        Marca*
                    </label>
                    <input formControlName="marca" type="text" spellcheck="false" autocomplete="off" class="mt-1 w-full text-base px-4 py-2 border placeholder:text-sm focus:bg-white focus:shadow-lg outline-none rounded-lg focus:ring-1 focus:ring-indigo-400">
                </div>
                <div class="relative w-1/2">
                    <label class="text-sm text-gray-700 tracking-wide">
                        Modelo*
                    </label>
                    <input formControlName="modelo" type="text" spellcheck="false" autocomplete="off" class="mt-1 w-full text-base px-4 py-2 border placeholder:text-sm focus:bg-white focus:shadow-lg outline-none rounded-lg focus:ring-1 focus:ring-indigo-400">
                </div>
            </div>
            <div class="flex items-center my-8">
                <div class="relative mr-5 w-1/2">
                    <label class="text-sm text-gray-700 tracking-wide">
                        Placa*
                    </label>
                    <input formControlName="placa" type="text" spellcheck="false" autocomplete="off" placeholder="Axxxx" class="mt-1 w-full text-base px-4 py-2 border placeholder:text-sm focus:bg-white focus:shadow-lg outline-none rounded-lg focus:ring-1 focus:ring-indigo-400">
                </div>
                <div class="relative w-1/2">
                    <label class="text-sm text-gray-700 tracking-wide">
                        Usuario asignado*
                    </label>
                    <select (input)="selectDriver = $event.target.value" class="mt-1 w-full text-base px-4 py-2 border placeholder:text-sm focus:bg-white focus:shadow-lg outline-none rounded-lg focus:ring-1 focus:ring-indigo-400">
                        <option value="null" selected>-- Seleccione --</option>
                        <option *ngFor="let driver of nameDrivers.data" [value]="driver.uuid">{{ driver.nombres }} {{ driver.apellidos }}</option>
                    </select>
                    {{ selectDriver }}
                </div>
            </div>
            <p *ngIf="messageError" class="text-sm text-red-500 mt-2">{{ messageError }}</p>
            <div class="flex w-full justify-end items-center mt-8">
                <button (click)="closeModal()" type="submit" class="px-5 mr-4 py-2 flex justify-center hover:bg-gray-100 text-sm p-4 rounded-lg shadow-lg cursor-pointer">
                    Cancelar
                </button>
                <button (click)="send()" type="submit" class="px-5 py-2 flex justify-center text-sm bg-indigo-500 hover:bg-indigo-700 text-gray-100 p-4 rounded-lg shadow-lg cursor-pointer">
                    <p *ngIf="isverifyingForm == false" class="m-0">Crear conductor</p>
                    <div *ngIf="isverifyingForm" class="lds-dual-ring"></div>
                </button>
            </div>
        </form>
    </div>
</section>