<section *ngIf="isOpenModalUpdate" class="modal z-10 fixed top-0 left-0 w-screen h-screen">
    <section class="absolute bg-white shadow pt-20 right-[17px] top-0 w-96 h-screen">
        <div class="px-6 modal__content w-96 h-screen pb-44">
            <h2 class="mb-8">Información del conductor</h2>
            <div (click)="closeModal()" class="absolute top-20 right-3 cursor-pointer py-1 px-3 hover:bg-gray-100 rounded">
                <i class="ri-close-line"></i>
            </div>
            <form [formGroup]="formGroup">
                <input formControlName="uuid" type="hidden">
                <div class="flex items-center">
                    <div class="relative mr-5 w-1/2">
                        <label class="text-sm text-gray-700 tracking-wide">
                            Nombres*
                        </label>
                        <input formControlName="nombres" type="text" spellcheck="false" autocomplete="off" placeholder="Sarah" class="mt-1 text-sm w-full px-4 py-2 border placeholder:text-sm focus:bg-white focus:shadow-lg outline-none rounded-lg focus:ring-1 focus:ring-indigo-400">
                    </div>
                    <div class="relative w-1/2">
                        <label class="text-sm text-gray-700 tracking-wide">
                            Apellidos*
                        </label>
                        <input formControlName="apellidos" type="text" spellcheck="false" autocomplete="off" placeholder="Connor" class="mt-1 text-sm w-full px-4 py-2 border placeholder:text-sm focus:bg-white focus:shadow-lg outline-none rounded-lg focus:ring-1 focus:ring-indigo-400">
                    </div>
                </div>
                <div class="flex items-center my-8">
                    <div class="relative mr-5 w-1/2">
                        <label class="text-sm text-gray-700 tracking-wide">
                            Identificación*
                        </label>
                        <input formControlName="identificacion" type="text" spellcheck="false" autocomplete="off" placeholder="1105xxxxxxxxx" class="mt-1 text-sm w-full px-4 py-2 border placeholder:text-sm focus:bg-white focus:shadow-lg outline-none rounded-lg focus:ring-1 focus:ring-indigo-400">
                    </div>
                    <div class="relative w-1/2">
                        <label class="text-sm text-gray-700 tracking-wide">
                            Direccion*
                        </label>
                        <input formControlName="direccion" type="text" spellcheck="false" autocomplete="off" class="mt-1 text-sm w-full px-4 py-2 border placeholder:text-sm focus:bg-white focus:shadow-lg outline-none rounded-lg focus:ring-1 focus:ring-indigo-400">
                    </div>
                </div>
                <div class="flex items-center">
                    <div class="relative mr-5 w-1/2">
                        <label class="text-sm text-gray-700 tracking-wide">
                            Telefono*
                        </label>
                        <input formControlName="telefono" type="text" spellcheck="false" autocomplete="off" placeholder="3xxxxxxxx" class="mt-1 text-sm w-full px-4 py-2 border placeholder:text-sm focus:bg-white focus:shadow-lg outline-none rounded-lg focus:ring-1 focus:ring-indigo-400">
                    </div>
                    <div class="relative w-1/2">
                        <label class="text-sm text-gray-700 tracking-wide">
                            Ciudad de nacimiento*
                        </label>
                        <input formControlName="ciudad_nacimiento" type="text" spellcheck="false" autocomplete="off" class="mt-1 text-sm w-full px-4 py-2 border placeholder:text-sm focus:bg-white focus:shadow-lg outline-none rounded-lg focus:ring-1 focus:ring-indigo-400">
                    </div>
                </div>
                <p *ngIf="messageError" class="text-sm text-red-500 mt-2">{{ messageError }}</p>
            </form>
        
            <h2 class="mt-8">Vehiculos asociados {{ driversData?.vehicles.length }}</h2>
            <ul class="w-full mt-3">
                <li *ngFor="let vehicle of driversData?.vehicles" class="w-full my-3 shadow rounded-lg flex items-center">
                    <div class="px-5 py-3">
                        <i class="ri-car-washing-line text-xl text-indigo-400"></i>
                    </div>
                    <div class="flex w-full items-center h-full px-3">
                        <div class="w-[82px] pr-3">
                            <p class="text-xs text-gray-500">Marca</p>
                            <p class="text-sm truncate ...">{{ vehicle.marca }}</p>
                        </div>
                        <div class="w-[82px] px-3">
                            <p class="text-xs text-gray-500">Modelo</p>
                            <p class="text-sm truncate ...">{{ vehicle.modelo }}</p>
                        </div>
                        <div class="w-[82px] px-3">
                            <p class="text-xs text-gray-500">Placa</p>
                            <p class="text-sm truncate ...">{{ vehicle.placa }}</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="absolute bottom-0 bg-white border right-0 w-full flex p-5 px-5 justify-end items-center shadow-lg">
            <button (click)="delete()" type="submit" class="px-5 mr-4 py-2 flex justify-center hover:bg-gray-100 text-sm p-4 rounded-lg shadow-lg cursor-pointer">
                Eliminar
            </button>
            <button (click)="send()" type="submit" class="px-5 py-2 flex justify-center text-sm bg-indigo-500 hover:bg-indigo-700 text-gray-100 p-4 rounded-lg shadow-lg cursor-pointer">
                <p *ngIf="isverifyingForm == false" class="m-0">Actualizar</p>
                <div *ngIf="isverifyingForm" class="lds-dual-ring"></div>
            </button>
        </div>
    </section>
</section>