.modal{
    background-color: rgba(0, 0, 0, 0.403);

    .modal__content{
        overflow-y: scroll;

        &::-webkit-scrollbar{
            width: 7px;
            background-color: transparent;
        }
        &::-webkit-scrollbar-thumb{
            background-color: rgb(228, 228, 228);
            border-radius: 150px;
        }
    }
}


.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 3px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }