<section *ngIf="isOpenModalAdd" class="modal fixed flex justify-center items-center right-0 top-16 z-10 w-[calc(100vw-16rem)] h-[calc(100vh-20px)]">
    <div class="bg-white w-1/2 p-5 px-7 relative h-auto rounded-lg opacity-1">
        <h2 class="mb-8">Agregar nuevo conductor</h2>
        <div (click)="closeModal()" class="absolute top-3 right-3 cursor-pointer py-1 px-3 hover:bg-gray-100 rounded">
            <i class="ri-close-line"></i>
        </div>
        <form [formGroup]="formGroup">
            <div class="flex items-center">
                <div class="relative mr-5 w-1/2">
                    <label class="text-sm text-gray-700 tracking-wide">
                        Nombres*
                    </label>
                    <input formControlName="nombres" type="text" spellcheck="false" autocomplete="off" placeholder="Sarah" autofocus class="mt-1 w-full text-base px-4 py-2 border placeholder:text-sm focus:bg-white focus:shadow-lg outline-none rounded-lg focus:ring-1 focus:ring-indigo-400">
                </div>
                <div class="relative w-1/2">
                    <label class="text-sm text-gray-700 tracking-wide">
                        Apellidos*
                    </label>
                    <input formControlName="apellidos" type="text" spellcheck="false" autocomplete="off" placeholder="Connor" autofocus class="mt-1 w-full text-base px-4 py-2 border placeholder:text-sm focus:bg-white focus:shadow-lg outline-none rounded-lg focus:ring-1 focus:ring-indigo-400">
                </div>
            </div>
            <div class="flex items-center my-8">
                <div class="relative mr-5 w-1/2">
                    <label class="text-sm text-gray-700 tracking-wide">
                        Identificación*
                    </label>
                    <input formControlName="identificacion" type="text" spellcheck="false" autocomplete="off" placeholder="1105xxxxxxxxx" autofocus class="mt-1 w-full text-base px-4 py-2 border placeholder:text-sm focus:bg-white focus:shadow-lg outline-none rounded-lg focus:ring-1 focus:ring-indigo-400">
                </div>
                <div class="relative w-1/2">
                    <label class="text-sm text-gray-700 tracking-wide">
                        Direccion*
                    </label>
                    <input formControlName="direccion" type="text" spellcheck="false" autocomplete="off" autofocus class="mt-1 w-full text-base px-4 py-2 border placeholder:text-sm focus:bg-white focus:shadow-lg outline-none rounded-lg focus:ring-1 focus:ring-indigo-400">
                </div>
            </div>
            <div class="flex items-center">
                <div class="relative mr-5 w-1/2">
                    <label class="text-sm text-gray-700 tracking-wide">
                        Telefono*
                    </label>
                    <input formControlName="telefono" type="text" spellcheck="false" autocomplete="off" placeholder="3xxxxxxxx" autofocus class="mt-1 w-full text-base px-4 py-2 border placeholder:text-sm focus:bg-white focus:shadow-lg outline-none rounded-lg focus:ring-1 focus:ring-indigo-400">
                </div>
                <div class="relative w-1/2">
                    <label class="text-sm text-gray-700 tracking-wide">
                        Ciudad de nacimiento*
                    </label>
                    <input formControlName="ciudad_nacimiento" type="text" spellcheck="false" autocomplete="off" autofocus class="mt-1 w-full text-base px-4 py-2 border placeholder:text-sm focus:bg-white focus:shadow-lg outline-none rounded-lg focus:ring-1 focus:ring-indigo-400">
                </div>
            </div>
            <p *ngIf="messageError" class="text-sm text-red-500 mt-2">{{ messageError }}</p>
            <div class="flex w-full justify-end items-center mt-8">
                <button (click)="closeModal()" type="submit" class="px-5 mr-4 py-2 flex justify-center hover:bg-gray-100 text-sm p-4 rounded-lg shadow-lg cursor-pointer">
                    Cancelar
                </button>
                <button (click)="send()" type="submit" class="px-5 py-2 flex justify-center text-sm bg-indigo-500 hover:bg-indigo-700 text-gray-100 p-4 rounded-lg shadow-lg cursor-pointer">
                    <p *ngIf="isverifyingForm == false" class="m-0">Crear conductor</p>
                    <div *ngIf="isverifyingForm" class="lds-dual-ring"></div>
                </button>
            </div>
        </form>
    </div>
</section>