<section *ngIf="isOpenModalUpdate" class="modal z-10 fixed top-0 left-0 w-screen h-screen">
    <section class="absolute bg-white shadow pt-20 right-[17px] top-0 w-96 h-screen">
        <div class="px-6 modal__content w-96 h-screen pb-44">
            <h2 class="mb-8">Información del vehiculo</h2>
            <div (click)="closeModal()" class="absolute top-20 right-3 cursor-pointer py-1 px-3 hover:bg-gray-100 rounded">
                <i class="ri-close-line"></i>
            </div>
            <form [formGroup]="formGroup">
                <input formControlName="uuid" type="hidden">
                <div class="flex items-center">
                    <div class="relative mr-5 w-1/2">
                        <label class="text-sm text-gray-700 tracking-wide">
                            Marca*
                        </label>
                        <input formControlName="marca" type="text" spellcheck="false" autocomplete="off" class="mt-1 w-full text-base px-4 py-2 border placeholder:text-sm focus:bg-white focus:shadow-lg outline-none rounded-lg focus:ring-1 focus:ring-indigo-400">
                    </div>
                    <div class="relative w-1/2">
                        <label class="text-sm text-gray-700 tracking-wide">
                            Modelo*
                        </label>
                        <input formControlName="modelo" type="text" spellcheck="false" autocomplete="off" class="mt-1 w-full text-base px-4 py-2 border placeholder:text-sm focus:bg-white focus:shadow-lg outline-none rounded-lg focus:ring-1 focus:ring-indigo-400">
                    </div>
                </div>
                <div class="flex items-center my-8">
                    <div class="relative mr-5 w-1/2">
                        <label class="text-sm text-gray-700 tracking-wide">
                            Placa*
                        </label>
                        <input formControlName="placa" type="text" spellcheck="false" autocomplete="off" placeholder="Axxxx" class="mt-1 w-full text-base px-4 py-2 border placeholder:text-sm focus:bg-white focus:shadow-lg outline-none rounded-lg focus:ring-1 focus:ring-indigo-400">
                    </div>
                    <div class="relative w-1/2">
                        <label class="text-sm text-gray-700 tracking-wide">
                            Usuario asignado*
                        </label>
                        <select formControlName="fk_driver_id" class="mt-1 w-full text-base px-4 py-2 border placeholder:text-sm focus:bg-white focus:shadow-lg outline-none rounded-lg focus:ring-1 focus:ring-indigo-400">
                            <option *ngIf="!driversDataClick.drivers" value="null" selected>-- Seleccione --</option>
                            <option *ngIf="driversDataClick.drivers" value="null">-- Seleccione --</option>
                            <option
                                *ngFor="let driver of nameDrivers.data"
                                [selected]="(driversDataClick.drivers ? driversDataClick.drivers.uuid : null) == driver.uuid ? true : null"
                                [value]="driver.uuid">
                                {{ driver.nombres }} {{ driver.apellidos }}
                            </option>
                        </select>
                    </div>
                </div>
                <p *ngIf="messageError" class="text-sm text-red-500 mt-2">{{ messageError }}</p>
            </form>
        </div>
        <div class="absolute bottom-0 bg-white border right-0 w-full flex p-5 px-5 justify-end items-center shadow-lg">
            <button (click)="delete()" type="submit" class="px-5 mr-4 py-2 flex justify-center hover:bg-gray-100 text-sm p-4 rounded-lg shadow-lg cursor-pointer">
                Eliminar
            </button>
            <button (click)="send()" type="submit" class="px-5 py-2 flex justify-center text-sm bg-indigo-500 hover:bg-indigo-700 text-gray-100 p-4 rounded-lg shadow-lg cursor-pointer">
                <p *ngIf="isverifyingForm == false" class="m-0">Actualizar</p>
                <div *ngIf="isverifyingForm" class="lds-dual-ring"></div>
            </button>
        </div>
    </section>
</section>