<div class="flex relative h-screen flex-col sm:flex-row items-center md:items-start sm:justify-center md:justify-start flex-auto min-w-0">
  <div class="sm:w-1/2 xl:w-3/5 h-full hidden md:flex flex-auto items-center justify-center p-10 overflow-hidden bg-purple-900 text-white bg-no-repeat bg-cover relative"
        style="background-image: url('../../../assets/truck.jpg');">
        <div class="absolute bg-gradient-to-b from-indigo-600 to-blue-500 opacity-75 inset-0 z-0"></div>
        <div class="w-full  max-w-md z-10">
            <div class="sm:text-4xl xl:text-4xl text-center font-bold leading-tight mb-6">Transportes S.A.S</div>
        </div>
        <!---remove custom style-->
        <ul class="circles">
            <li></li><li></li><li></li><li></li><li></li>
            <li></li><li></li><li></li><li></li><li></li>
        </ul>
    </div>
  <div class="md:flex md:items-center md:justify-center w-full sm:w-auto md:h-full xl:w-2/5 md:p-10 lg:p-28 sm:rounded-lg md:rounded-none">
      <div class="max-w-md w-full space-y-8">
          <div class="text-center">
              <h2 class="mt-6 text-xl text-gray-900">
                  Iniciar sesión!
              </h2>
              <p class="mt-2 text-sm text-gray-500">Por favor inicie sesión con tu cuenta administrativa</p>
          </div>
          <form [formGroup]="formGroup" class="mt-8 space-y-6" action="#" method="POST">
              <input type="hidden" name="remember" value="true">
              <div class="relative">
                  <label class="text-sm text-gray-700 tracking-wide">
                      Correo electronico*
                  </label>
                  <input 
                    formControlName="email" 
                    type="email" 
                    spellcheck="false" 
                    autocomplete="off" 
                    autofocus 
                    placeholder="mail@gmail.com" 
                    [ngClass]="{'border-red-500':hasErrorsEmail, 'focus:ring-indigo-400': !hasErrorsEmail, ' focus:ring-1': !hasErrorsEmail}"
                    class="mt-1 w-full text-base px-4 py-2 border placeholder:text-sm focus:bg-white focus:shadow-lg outline-none rounded-lg"
                   >
                   <p *ngIf="hasErrorsEmail" class="mt-2 text-sm text-red-500">Este campo es requerido</p>
              </div>
              <div class="mt-8 content-center">
                  <label class="text-sm text-gray-700 tracking-wide">
                      Contraseña*
                  </label>
                  <input 
                    formControlName="password" 
                    type="password"
                    placeholder="Enter your password"
                    [ngClass]="{'border-red-500':hasErrorsPassword, 'focus:ring-indigo-400': !hasErrorsPassword, ' focus:ring-1': !hasErrorsPassword}"
                    class="mt-1 placeholder:text-sm w-full text-base px-4 py-2 border focus:bg-white focus:shadow-lg outline-none rounded-lg"
                  >
                  <p *ngIf="hasErrorsPassword" class="mt-2 text-sm text-red-500">Este campo es requerido</p>
              </div>
              <p *ngIf="messageError" class="text-sm text-red-500 mt-2">{{ messageError }}</p>
              <div class="flex items-center justify-between">
                  <div class="flex items-center">
                      <input id="remember_me" name="remember_me" type="checkbox"
                          class="h-4 w-4 bg-blue-500 focus:ring-blue-400 border-gray-300 rounded">
                      <label for="remember_me" class="ml-2 block text-sm text-gray-900">
                          Recordar cuenta
                      </label>
                  </div>
              </div>
              <div>
                  <button (click)="send()" type="submit" class="w-full py-2 flex justify-center bg-indigo-500 hover:bg-indigo-600 text-gray-100 p-4 rounded-lg tracking-wide font-semibold  shadow-lg cursor-pointer transition ease-in duration-500">
                      <p *ngIf="isverifyingForm == false" class="m-0">Iniciar sesión</p>
                      <div *ngIf="isverifyingForm" class="lds-dual-ring"></div>
                  </button>
              </div>
          </form>
      </div>
  </div>
</div>
