<app-modal-update-vehicles (freshDataTable)="freshTable()"></app-modal-update-vehicles>
<app-modal-add-vehicles (freshDataTable)="freshTable()"></app-modal-add-vehicles>
<section class="h-screen p-5">
    <div class="flex items-center mb-10 w-full bg-white p-4 rounded-lg" style="box-shadow: 0 0 15px 0 rgb(34 41 47 / 5%);">
      <a routerLink="/home" class="text-sm text-gray-300 hover:text-indigo-400 hover:underline">Inicio</a>
      <p class="mx-2 text-sm text-gray-300">/</p>
      <a routerLink="/home/vehicles" class="text-sm text-indigo-400 hover:underline">Vehiculos</a>
    </div>
    <div class="w-full mb-3 flex justify-between items-center">
      <h2 class="text-gray-600">Lista de vehiculos</h2>
      <button (click)="exportAsExcel()" class="flex items-center rounded-lg bg-white py-2 px-3 text-sm" style="box-shadow: 0 0 15px 0 rgb(34 41 47 / 5%);">
        <i class="ri-download-cloud-2-line mr-3 text-lg pt-1"></i>
        Exportar pdf
      </button>
    </div>
    <div class="rounded-lg overflow-hidden" style="box-shadow: 0 0 15px 0 rgb(34 41 47 / 5%);">
        <table class="rounded-xl" #table mat-table [dataSource]="dataSource">
      
          <!-- Position Column -->
          <ng-container matColumnDef="marca">
            <th class="text-white" mat-header-cell *matHeaderCellDef> Marca </th>
            <td mat-cell *matCellDef="let element"> {{element.marca}} </td>
          </ng-container>

          <ng-container matColumnDef="modelo">
            <th class="text-white" mat-header-cell *matHeaderCellDef> Modelo </th>
            <td mat-cell *matCellDef="let element"> {{element.modelo}} </td>
          </ng-container>

          <ng-container matColumnDef="placa">
            <th class="text-white" mat-header-cell *matHeaderCellDef> Placa </th>
            <td mat-cell *matCellDef="let element"> {{element.placa}} </td>
          </ng-container>

          <ng-container matColumnDef="drivers">
            <th class="text-white" mat-header-cell *matHeaderCellDef> Conductor asociado </th>
            <td mat-cell *matCellDef="let element">
              <p *ngIf="element.drivers">{{element.drivers.nombres}} {{element.drivers.apellidos}}</p>
              <p *ngIf="!element.drivers">* Sin conductor *</p>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr class="cursor-pointer hover:bg-gray-100" mat-row (click)="clickedRows(row)" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      
        <mat-paginator [pageSizeOptions]="[30, 50, 100]" showFirstLastButtons></mat-paginator>
      </div>

      <div (click)="openModalAdd()" class="fixed cursor-pointer bottom-5 right-5 bg-indigo-500 text-white py-2 px-3 rounded-full">
        <i class="ri-add-line text-xl"></i>
      </div>
</section>