@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

thead{
    background-color: #6366f1!important;

    th{
        color: white;
    }
}

table{
    width: 100%;

}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
    padding: 0;
    border-bottom-width: 0px!important;
    border-bottom-style: none!important;
}